html {
  scroll-behavior: smooth;
}

body {
  background-color: #010104;
  color: #ffffff;
  margin: 0;
}

/* FOR FONT - DELETE IF NOT IN USE
 <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900

.inter-<uniquifier > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px 80px 0 80px;
}

.header-logo-anchor img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.primary-navigation {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.primary-navigation p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.purple-text-highlight {
  color: #3737c9;
}

.hero-text-container {
  display: flex;
  height: 250px;
  flex-direction: column;
  margin: 59px auto 0 auto;
  align-items: center;
  flex-shrink: 0;
}

.hero-text-container h1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 144px */
  text-transform: capitalize;
  margin: 0;
}

.div2 {
  display: flex;
  justify-content: center;
  margin: 87px auto;
}

.div2 img {
  border-radius: 42px;
  width: 693px;
  height: 464px;
  flex-shrink: 0;
}

.div2 h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;

  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  text-transform: capitalize;
  margin: 0 0 0 67px;
}

.div2 p {
  display: none;
}

.underlined-text {
  border-bottom: 3px solid #3737c9;
}

.div3 {
  width: 1280px;
  /* height: 675px; */
  flex-shrink: 0;
  margin: 235px auto 87px auto;
}

.div3 h3 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 90px;
}

/* Float four columns side by side */
.column {
  float: left;
  /* height: 515px; */
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  /* margin: 0 -5px; */
  /* padding: 0px 388px; */
  display: inline-flex;
  box-sizing: border-box;
  /* height: 515px; */
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-shrink: 0;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Style the counter cards */
.card {
  border-radius: 42px;
  border: 10px solid #3737c9;
  padding: 0 16px 16px 16px;
  text-align: center;
  width: 308px;
  height: 504px;
  /* background-color: #f1f1f1; */
}

.card svg {
  display: block;
  margin: 74px auto 74px auto;
}

.card-title {
  color: #fff;
  text-align: center;

  /* Title/Small */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  text-transform: capitalize;
}

.card-description {
  color: #fff;
  text-align: center;
  margin: 16 auto 68 auto;
  /* Body/large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 260px;
}

.description-underline {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.div4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  margin: 240.5px auto 87px auto;
}

.div4-mobile {
  display: none;
}

.div4 h4 {
  width: 1000px;
  margin-top: 0;
  margin-bottom: 250;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
  text-transform: capitalize;
}

.box-border {
  position: relative;
  width: 1066px;
  height: 615px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 10px solid #3737c9;
  margin-left: auto;
  margin-right: auto;
}

.box-bg-top {
  position: absolute;
  width: 1066px;
  height: 615px;
  border-radius: 42px;
  background: #0e0e19;
}

.selection-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 80px 0 80px;
}

.info-div {
  display: none;
}

.machine-tag {
  display: none;
}

.machine-name {
  display: none;
}

.machine-description {
  display: none;
}

.tag1 {
  display: block;
}

.name1 {
  display: block;
}

.desc1 {
  display: block;
}

.selection-image {
  display: block;
  position: absolute;
  left: 20px;
  top: -205px;
}

.selection-image2 {
  position: absolute;
  left: 80px;
  top: -205px;
  width: 355px;
  height: 590px;
  flex-shrink: 0;
}

.selection-image3 {
  position: absolute;
  left: 120px;
  top: -205px;
  width: 235px;
  height: 552px;
  flex-shrink: 0;
  /* box-shadow: -13px -6px 12px 0px rgba(0, 0, 0, 0.25); */
}

.selection-text {
  position: absolute;
  top: 30px;
  margin-left: 390px;
  width: 530px;
  height: 204px;
  flex-shrink: 0;
}

.machine-tag {
  color: #3737c9;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 144px */
  text-transform: capitalize;
  margin: 0;
}

.machine-name {
  color: #fff;

  /* Display/Medium */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: -10px;
}

.machine-description {
  color: #fff;

  /* Body/large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

.box-bg-bottom {
  position: absolute;
  bottom: 0px;
  width: 1067px;
  height: 241px;
  border-radius: 0px 0px 42px 42px;
  background: rgba(66, 66, 108, 0.25);
}

.preview-button-container {
  display: flex;
  position: relative;
  /* padding: 30px 576px; */
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-shrink: 0;
}

.preview-button {
  display: flex;
  position: relative;
  /* width: 170px;
  height: 170px; */
  flex-shrink: 0;
  cursor: pointer;
}

.preview-button-text {
  display: flex;
  position: absolute;
  top: 3px;
  width: 170px;
  height: 49px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
}

.preview-button-text1 {
  color: #3737c9;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  text-transform: capitalize;
  margin: 0;
}

.preview-button-text2 {
  color: #1b1b2e;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
  margin: 0;
}

/* .preview-button-bg {
} */

.button-image {
  position: absolute;
  margin-top: 49px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.button-image img {
  width: 156px;
  height: 116px;
  flex-shrink: 0;
}

.preview-button-indicator {
  position: absolute;
  margin-top: -9px;
  margin-left: -10px;
  margin-right: 0;
  left: 0;
  right: 0;
  text-align: left;
}

/* .preview-button-indicator-selected {
  fill: rgb(55, 201, 113);
} */

.circle {
  fill: #7f7f7f;
}

.selected {
  fill: rgb(55, 201, 113);
}

/* CONTACT US OVERALL CONTAINER*/
.div5 {
  display: flex;
  flex-direction: column;
  width: 1081px;
  height: 1455px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.div5 h5 {
  width: 554px;
  height: 60px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
}

.contact-box {
  /* display: flex;
  flex-direction: column; */
  width: 1067px;
  /* height: 1217px; */
  flex-shrink: 0;
  border-radius: 42px;
  border: 10px solid #3737c9;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.dtx-form label {
  color: #fff;
  margin-left: 36px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  text-transform: capitalize;
}

.contact-headings {
  width: 653.141px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 42px;
  padding-bottom: 42px;
}

.contact-information {
  /* display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between; */
  display: flex;
  padding: 0px 34px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.contact-information p {
  display: flex;
  width: 313px;
  height: 49px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  text-transform: lowercase;
}

.contact-information svg {
  align-self: center;
}

.contact-information-l {
  display: flex;
  padding: 15px 0px 20.942px 45.101px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 57.5px;
}

.contact-information-r {
  display: flex;
  padding: 12px 0px 18px 45.101px;
  justify-content: flex-end;
  align-items: center;
  gap: 66.722px;
}

.contact-form {
  width: 1067px;
  height: 970px;
  border-radius: 0px 0px 32px 32px;
  background: #0e0e19;
  /* position: absolute; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-shrink: 0;
  // height: 100vh; /* Adjust as needed */
}

.contact-form form {
  width: 945px;
}

/* Optional: Add some spacing between form elements */
.form-row1 {
  margin-top: 15px;
}

.form-row {
  margin-bottom: 20px;
}

.form-left {
  width: 465px;
  height: 131px;
  float: left;
}

.form-left-radio {
  display: flex;
  width: 465px;
  height: 131px;
  float: left;
  clear: none;
}

.form-right {
  width: 465px;
  height: 131px;
  float: right;
}

input[type="text"],
select {
  color: #ffffff;
  font-size:24px;
  width: 100%;
  height: 71px;
  padding: 0px 34px;
  margin: 8px 0;
  display: inline-block;
  background-color: #0e0e19;
  border: 5px solid #3737c9;
  border-radius: 45px;
  box-sizing: border-box;
}

textarea {
  color: #ffffff;
  font-size:24px;
  width: 100%;
  height: 142px;
  padding: 15px 34px;
  margin: 8px 0;
  display: inline-block;
  background-color: #0e0e19;
  border: 5px solid #3737c9;
  border-radius: 45px;
  box-sizing: border-box;
  resize: none;
}
//TRY TEXT AREA IN A DIV TO MOVE SCROLL BAR MORE INSIDE!

input[type="number"],
select {
  color: #ffffff;
  font-size:24px;
  width: 100%;
  height: 71px;

  padding: 0px 34px;
  margin: 8px 0;
  display: inline-block;
  background-color: #0e0e19;
  border: 5px solid #3737c9;
  border-radius: 45px;
  box-sizing: border-box;
}

input[type="radio"],
select {
  color: #ffffff;
  // width: 100%;
  // height: 71px;
  padding: 0px 34px;
  // margin: 8px 0;
  background-color: #0e0e19;
  border: 5px solid #3737c9;
  border-radius: 45px;
  box-sizing: border-box;
}

// .radio-message {
//   margin-right: 80px;
// }

input[type="email"],
select {
  color: #ffffff;
  font-size:24px;
  width: 100%;
  height: 71px;
  padding: 0px 34px;
  margin: 8px 0;
  display: inline-block;
  background-color: #0e0e19;
  border: 5px solid #3737c9;
  border-radius: 45px;
  box-sizing: border-box;
}

button[type="submit"] {
  color: #ffffff;
  width: 20%;
  height: 71px;
  background-color: #3737c9;
  color: white;
  // padding: 0px 34px;
  margin: 8px 0;
  border: none;
  border-radius: 45px;
  cursor: pointer;

  color: #fff;
  margin-left: 36px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  text-transform: capitalize;
}

button[type="submit"]:hover {
  background-color: #2828ae;
}

/* END OF CONTACT FORM*/

.div6 {
  width: 1080px;
  height: 442px;
  display: flex;
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
}

.div6 img {
  width: 416px;
  height: 442px;
  flex-shrink: 0;
}

.div6 p {
  display: flex;
  width: 568px;
  height: 366px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  margin-top: 34px;
  margin-left: 83px;
  margin-right: 0px;
  margin-bottom: 42px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px 80px 0 80px;
}

.secondary-navigation {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.secondary-navigation p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
}

.footer-logo-anchor img {
  width: 100px;
  height: 100px;
}

/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 650px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    width: 100%;
    position: relative;
  }

  header {
    display: flex;
    width: 319px;
    justify-content: space-between;
    align-items: center;
    margin-top: 25;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .header-logo-anchor img {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
  }

  .primary-navigation {
    display: flex;
    height: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .primary-navigation p {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin: 0;
  }

  .hero-text-container {
    display: flex;
    width: 369px;
    height: 81px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  .hero-text-container h1 {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
    text-transform: capitalize;
    margin: 0;
  }

  .div2 {
    display: flex;
    justify-content: center;
    margin-top: 40;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
  }

  .div2 img {
    border-radius: 42px;
    width: 324.844px;
    height: 217.5px;
    flex-shrink: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .div2 h2 {
    display: none;
  }

  .div2 p {
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: capitalize;
  }

  .underlined-text {
    border-bottom: 3px solid #3737c9;
    margin-top: 40;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .div3 {
    width: 364px;
    /* height: 1585px; */
    flex-shrink: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .div3 h3 {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 90px;
  }

  .column {
    width: 100%;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -5px;
    display: block;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
    border-radius: 42px;
    border: 10px solid #3737c9;
    padding: 0 16px 16px 16px;
    text-align: center;
    width: 308px;
    height: 427px;
    /* background-color: #f1f1f1; */
  }

  .card svg {
    display: block;
    /* margin: 74px auto 74px auto; */
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  /*  THIS IS WHERE VEND SELECTOR WILL BE MODIFIED 
    set to display none for now!*/
  .box-border {
    display: none;
  }

  .div4 {
    margin: 0;
  }

  .div4 h4 {
    display: none;
  }

  .div6 {
    display: flex;
    width: 390px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .div6 img {
    width: 180px;
    height: 180px;
    flex-shrink: 0;
  }

  .div6 p {
    display: flex;
    width: 335px;
    height: 231px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
  }

  .div4-mobile {
    display: block;
  }

  .div4-mobile h4 {
    width: 352px;
    height: 119px;
    flex-shrink: 0;

    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    text-transform: capitalize;

    margin-top: 79px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 138px;
  }

  .box-border-m {
    position: relative;
    width: 358px;
    height: 407px;
    flex-shrink: 0;
    border-radius: 42px;
    border: 7px solid #3737c9;
    margin-left: auto;
    margin-right: auto;
  }

  .selection-preview-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px 0 80px;
  }

  .info-div {
    display: block;
  }

  .selection-image-m {
    position: relative;
    flex-shrink: 0;
    display: block;
    position: absolute;
    left: -15px;
    top: -135px;
  }

  .selection-image-m img {
    width: 242px;
    height: 340px;
    flex-shrink: 0;
  }

  .selection-image2-m {
    flex-shrink: 0;
    display: block;
    position: absolute;
    left: 10px;
    top: -135px;
  }

  .selection-image2-m img {
    width: 200px;
    height: 319px;
    flex-shrink: 0;
  }

  .selection-image3-m {
    flex-shrink: 0;
    display: block;
    position: absolute;
    left: 12px;
    top: -140px;
  }

  .selection-image3-m img {
    width: 180px;
    height: 319px;
    flex-shrink: 0;
  }

  .preview-button-container-m {
    display: flex;
    position: absolute;

    /* padding-top: 30px; */
    top: 30px;
    left: 200px;

    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    width: 158px;
    height: 145px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
  }

  .preview-button-m {
    display: flex;
    position: relative;
    display: flex;
    width: 146px;
    height: 40px;
    /* padding: 1.5px 2px 1.5px 3px; */
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }

  .preview-button-text-m {
    display: flex;
    position: absolute;
    top: 11px;
    left: 30px;
    width: 99px;
    height: 25px;
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink: 0;
    text-align: center;
    margin: 0;
  }

  .preview-button-text1-m {
    color: #3737c9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    text-transform: capitalize;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 15px;
    margin-bottom: 0;
  }

  .preview-button-text2-m {
    color: #1b1b2e;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    margin: 0;
  }

  .preview-button-indicator-m {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: auto;
    left: 12px;
    right: 0;
    text-align: left;
  }

  .circle-m {
    fill: #7f7f7f;
  }

  .selected-m {
    fill: rgb(55, 201, 113);
  }

  .box-bg-top-m {
    position: absolute;
    width: 358px;
    height: 407px;
    flex-shrink: 0;
    border-radius: 42px;
    background: #0e0e19;
  }

  .box-bg-bottom-m {
    position: absolute;
    bottom: 0px;
    width: 359px;
    height: 219px;
    flex-shrink: 0;
    border-radius: 0px 0px 42px 42px;
    background: rgba(66, 66, 108, 0.25);
  }

  .selection-text-m {
    position: relative;
    margin-top: 15px;
  }

  .tag-name-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 342px;
    height: 66px;
    gap: 15px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
  }

  .machine-tag-m {
    color: #3737c9;
    display: flex;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 72px */
    text-transform: capitalize;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .machine-name-m {
    color: #fff;
    display: flex;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .machine-description-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 104px;
    color: #fff;

    /* Body/large */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    flex-shrink: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42;
  }

  /* HIDE CONTACT FORM FOR NOW */
  .div5 {
    display: none;
  }

  /*  FOOTER BEGINS */
  footer {
    display: flex;
    width: 347px;
    justify-content: space-evenly;
    align-items: center;
    margin: 55px 80px 0 80px;
    margin-top: 118px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
  }

  .secondary-navigation {
    display: flex;
    align-items: flex-start;
    gap: 26px;
  }

  .secondary-navigation p {
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
  }

  .footer-logo-anchor img {
    width: 86px;
    height: 86px;
  }
} /* END OF RESPONSIVENESS 650PX */
