body {
  background-color: #010104;
  color: #ffffff;
  margin: 0;
}

/* FOR FONT - DELETE IF NOT IN USE
 <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900

.inter-<uniquifier > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px 80px 0 80px;
}

.header-logo-anchor img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.primary-navigation {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.primary-navigation p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.purple-text-highlight {
  color: #3737c9;
}

.hero-text-container {
  display: flex;
  height: 250px;
  flex-direction: column;
  margin: 59px auto 0 auto;
  align-items: center;
  flex-shrink: 0;
}

.hero-text-container h1 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 144px */
  text-transform: capitalize;
  margin: 0;
}

.div2 {
  display: flex;
  justify-content: center;
  margin: 87px auto;
}

.div2 img {
  border-radius: 42px;
  width: 693px;
  height: 464px;
  flex-shrink: 0;
}

.div2 h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;

  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  text-transform: capitalize;
  margin: 0 0 0 67px;
}

.underlined-text {
  border-bottom: 3px solid #3737c9;
}

.div3 {
  width: 1280px;
  /* height: 675px; */
  flex-shrink: 0;
  margin: 235px auto 87px auto;
}

.div3 h3 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 90px;
}

/* Float four columns side by side */
.column {
  float: left;
  /* height: 515px; */
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  /* margin: 0 -5px; */
  /* padding: 0px 388px; */
  display: inline-flex;
  box-sizing: border-box;
  /* height: 515px; */
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-shrink: 0;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Style the counter cards */
.card {
  border-radius: 42px;
  border: 10px solid #3737c9;
  padding: 0 16px 16px 16px;
  text-align: center;
  width: 308px;
  height: 504px;
  /* background-color: #f1f1f1; */
}

.card svg {
  display: block;
  margin: 74px auto 74px auto;
}

.card-title {
  color: #fff;
  text-align: center;

  /* Title/Small */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  text-transform: capitalize;
}

.card-description {
  color: #fff;
  text-align: center;
  margin: 16 auto 68 auto;
  /* Body/large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 260px;
}

.description-underline {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.div4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  margin: 240.5px auto 87px auto;
}

.div4 h4 {
  width: 1000px;
  margin-top: 0;
  margin-bottom: 250;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 72px */
  text-transform: capitalize;
}

.box-border {
  position: relative;
  width: 1066px;
  height: 615px;
  flex-shrink: 0;
  border-radius: 42px;
  border: 10px solid #3737c9;
  margin-left: auto;
  margin-right: auto;
}

.box-bg-top {
  position: absolute;
  width: 1066px;
  height: 615px;
  border-radius: 42px;
  background: #0e0e19;
}

.selection-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 80px 0 80px;
}

.selection-image {
  position: absolute;
  left: 20px;
  top: -205px;
}


.selection-text {
  margin-left: 390px;
  width: 530px;
  height: 204px;
  flex-shrink: 0;
}

.machine-tag {
  color: #3737c9;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 144px */
  text-transform: capitalize;
  margin: 0;
}

.machine-name {
  color: #fff;

  /* Display/Medium */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: -10px;
}

.machine-description {
  color: #fff;

  /* Body/large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

.box-bg-bottom {
  position: absolute;
  bottom: 0px;

  width: 1067px;
  height: 241px;
  /* padding-top: 374px; */
  /* flex-shrink: 0; */
  border-radius: 0px 0px 42px 42px;
  background: rgba(66, 66, 108, 0.25);
}

.preview-button-container {
  display: flex;
  position: relative;
  /* padding: 30px 576px; */
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-shrink: 0;
}

.preview-button {
  display: flex;
  position: relative;
  /* width: 170px;
  height: 170px; */
  flex-shrink: 0;
  cursor: pointer;
}

/* .preview-button-bg {
} */

.button-image {
  position: absolute;
  margin-top: 49px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.button-image img {
  width: 156px;
  height: 116px;
  flex-shrink: 0;
}

.preview-button-indicator {
  position: absolute;
  margin-top: -9px;
  margin-left: -10px;
  margin-right: 0;
  left: 0;
  right: 0;
  text-align: left;
}

/* .preview-button-indicator-selected {
  fill: rgb(55, 201, 113);
} */

.circle {
  fill: #7f7f7f;
}

.selected {
  fill: rgb(55, 201, 113);
}

.div6 {
  width: 1080px;
  height: 442px;
  display: flex;
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
}

.div6 img {
  width: 416px;
  height: 442px;
  flex-shrink: 0;
}

.div6 p {
  display: flex;
  width: 568px;
  height: 366px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  margin-top: 34px;
  margin-left: 83px;
  margin-right: 0px;
  margin-bottom: 42px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px 80px 0 80px;
  }


.secondary-navigation {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.footer-logo-anchor img {
  width: 100px;
  height: 100px;
}
